<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Taller Mecánico {% endblock %}</title> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

<header>
    <h1>Taller Mecánico Rápido</h1>

</header>

<main>
    <section style="padding: 20px;">
        <h2>Bienvenido a nuestro taller</h2>
        <p>¡Nos encargamos de tu vehículo con el mayor cuidado y profesionalismo! Contamos con los mejores técnicos para que siempre estés seguro en la carretera.</p>
    </section>
</main>
<div id = "contenido", name = "contenido">
    {%block contenido%}
    {%endblock%} 
</div>


<footer>
    <p>© 2024 Taller Mecánico Rápido - Todos los derechos reservados</p>
</footer>

</body>
</html>
