{%extends "reporte_operaciones/base_template.html" %}
{%block title%}Login{%endblock%}

{%block contenido%}
<div class="container">
  <div class="m-4 d-flex justify-content-center align-items-center">
      <div>
        <h2 >Login</h2>
        <form method="post">
        {% csrf_token %}
            <div class="mb-3">
              <div><label for="exampleInputEmail1" class="form-label">Usuario</label></div>
              <input type="text" class="form-control" name="usuario" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Ingresa tu usuario</div>
            </div>
            <div class="mb-3">
              <div><label for="exampleInputPassword1" class="form-label">Contraseña</label></div>
              <input type="password" class="form-control" name="password">
            </div>
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>            
        </form>
      </div>
  </div>
</div>
{%endblock%}